# Données jamais versionnées
data/
*.csv
*.sqlite
*.db

# Secrets
.env
*.env

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
